.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 10px;
  }
  
  .each-slide-effect span {
    padding: 200px;
    font-size: 100px;
   
    text-align: center;
  }


.mb-4 {
    margin-bottom: 3.5rem;
}

.pb-3 {
    padding-bottom: 3rem;
}

.me-lg-5 {
    margin-right: 3rem;
}

.sub-title {
    font-size: 2.25rem;
    color: #6c757d;
   
}

.display-5 {
    font-size: 4rem;
    font-weight: 700;
}

.fw-semibold {
    font-weight: 500;
}

.text-primary {
    color: #0d6efd;
}

.fw-bold {
    font-weight: 700;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.text-muted {
    color: #6c757d;
}

.mb-0 {
    margin-bottom: 0;
    text-align: center;
}

.text-center d-inline {
    text-align: center;
  }
  
